.my-products-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.my-products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-link {
  text-decoration: none;
  font-weight: bold;
  background-color: #28a745;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.add-link:hover {
  background-color: #218838;
}


.my-product-header,
.my-product-row {
  display: grid;
  grid-template-columns: 70px 2fr 1fr 1fr 1fr;
  align-items: center;
  text-align: center;;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.my-product-header {
  font-weight: bold;
  color: #555;
  border-bottom: 2px solid #333;
}

.my-product-row:hover {
  background-color: #f9f9f9;
}


.actions {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.actions button {
  background-color: #dc3545;
  border: none;
  padding: 6px 12px;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
}

.actions button:hover {
  background-color: #c82333;
}

.actions a {
  text-decoration: none;
  padding: 6px 12px;
  background-color: #0d6efd;
  color: white;
  border-radius: 4px;
  font-weight: 500;
}

.actions a:hover {
  background-color: #0b5ed7;
}

.my-product-row img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
}
.product-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
}

.no-image-placeholder {
  width: 60px;
  height: 60px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: #888;
  font-size: 12px;
  font-style: italic;
}

